@font-face {font-family: "STARWARS";
  src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot");
  src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS") format("svg");
}

* {
  box-sizing: border-box;
  font-family: 'STARWARS';
  color: #F9E60A;
  -webkit-text-stroke-width: .1px; 
  -webkit-text-stroke-color: black; 
}

html {
  background-image: url('http://static.hdw.eweb4.com/media/wallpapers_dl/1/111/1101575-lightsaber.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
}

/* nav bar */
.nav__header {
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.nav__h1 {
  font-size: 50px;
  margin: 30px 0px 30px 40px;
  min-width: 600px;
}

.nav__section--links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.selected {
  color:#FF0200
}

.nav__link {
  display: block;
  padding-top: 2px;
}

.nav__div--favorites {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

/* home header */
.home__h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin: auto;
  text-align: center;
  width: 500px;
}

.favorite__link {
  padding-right: 7px;
} 

/* card container */
.app__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* selected card */
.selected__section {
  display: flex;
  justify-content: center;
}

.loading {
  background-size: cover;
  height: 100%;
  width: 100%
}