@font-face {font-family: "STARWARS";
  src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot");
  src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS") format("svg");
}

* {
  box-sizing: border-box;
  font-family: 'STARWARS';
  color: #F9E60A;
  -webkit-text-stroke-width: .1px; 
  -webkit-text-stroke-color: black; 
}

html {
  background-image: url('http://static.hdw.eweb4.com/media/wallpapers_dl/1/111/1101575-lightsaber.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
}

/* nav bar */
.nav__header {
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.nav__h1 {
  font-size: 50px;
  margin: 30px 0px 30px 40px;
  /* width: 100%; */
  min-width: 600px;
}

.nav__section--links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
}

.selected{
  color:#FF0200
}

.nav__link {
  display: block;
  padding-top: 2px;
}

.nav__div--favorites {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* home header */
.home__h1{
  text-align: center;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.favorite__link {
  padding-right: 7px;
} 

/* card container */
.app__section {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/* selected card */
.selected__section {
  display: flex;
  justify-content: center;
}

.loading{
  background-size: cover;
  height: 100%;
  width: 100%
}

/* //media queries */
/* .nav__header{
  display: inline-flex;
} */

/* this is the symbol font family for if/when we wish to use it */

/* @font-face {font-family: "StarWars  Kit";
  src: url("//db.onlinewebfonts.com/t/a5522bbd15c8d4afaf762a74906cebf3.eot");
  src: url("//db.onlinewebfonts.com/t/a5522bbd15c8d4afaf762a74906cebf3.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/a5522bbd15c8d4afaf762a74906cebf3.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/a5522bbd15c8d4afaf762a74906cebf3.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/a5522bbd15c8d4afaf762a74906cebf3.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/a5522bbd15c8d4afaf762a74906cebf3.svg#StarWars  Kit") format("svg");
} */
