.card__article {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190510/pngtree-starry-sky-white-blue-stars-image_111634.jpg');
    background-size: cover;
    box-sizing: border-box;
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}